.top-buffer {
    margin-top: 20px;
}
.rainbowBg {
    background: url(../img/rainbow-bg.jpg) repeat-x left top;
    height: 41px;
    width: 0;
    position: absolute;
    left: 0;
}
.luckyDrawPointer {
    position: absolute;
    z-index: 2;
    top: 18%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.luckyDrawPanel {
    position: relative;
}
.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
